---
layout: src/templates/layouts/default.hbs
---

<header class="case-header">
  <div class="hero-img">
    <img src="{{page.hero-src}}" alt="{{page.hero-alt}}"/>
  </div>
  <nav class="toc-menu">
    <ul class="main-level">
    {{#each page.toc}}
      <li>
        <h2><a href="{{@key}}.html">{{@key}}</a></h2>
        <ul class="two-level">
          {{#each this}}
            <li><a href="#{{@key}}">{{this}}</a></li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </nav>
</header>
{{> body }}
