<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{site.meta-desc}}">
    <meta name="keywords" content="{{#each site.meta-keywords}}{{this}},{{/each}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>
    <!-- typekit scripts -->
    <script src="https://use.typekit.net/lvb0txr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="icon" type="image/png" href="assets/img/shaka.png">
    <link rel="stylesheet" href="assets/css/njpp.css">

  </head>
  <body>
    {{> navbar }}
    <div class={{#is basename "index"}}"wrapper-index"{{else}}"wrapper"{{/is}} role="main">
      {{> body }}
    </div>
    {{#isnt basename "index"}}
      {{> contact-footer}}
    {{/isnt}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.localscroll/1.4.0/jquery.localScroll.min.js"></script>
    <script src="assets/js/njpp.js"></script>
  </body>
</html>
