<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{site.meta-desc}}">
    <meta name="keywords" content="{{#each site.meta-keywords}}{{this}},{{/each}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>
    <!-- typekit scripts -->
    <script src="https://use.typekit.net/lvb0txr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link rel="stylesheet" href="assets/css/njpp.css"/>

  </head>
  <body>
    {{> navbar }}
    <div class={{#is basename "index"}}"wrapper-index"{{else}}"wrapper"{{/is}} role="main">
      {{> body }}
    </div>
    {{#isnt basename "index"}}
      {{> contact-footer}}
    {{/isnt}}
  </body>
</html>
